In [122]:
import os
import re 
import pandas as pd
import seaborn as sns 

def getPlayerPaths():
    file_list = os.listdir('in-new')
    return file_list

def read_file(file):
    with open('in-new/'+file, 'r') as f:
        data = f.read().replace('TooltipEvent, ', '')
    return data

def getRecordData(playerPath, minigame):
    data = read_file(playerPath).split('\n')
    for line in data: 
        if minigame in line: 
            minigameData = line
            minigameData = minigameData.replace(minigame, '').strip()
            return minigameData  # return the data instead of printing it

def create_dataframe(input_string):

    # Define regular expression pattern to match map names and times
    pattern = r'(\w+\s?\w+)\s*:\s*(?:(\d+)\s*min\s*)?(?:(\d+)\s*s\s*)?(\d+)\s*ms'

    # Find all matches in the input string
    matches = re.findall(pattern, input_string)

    # Initialize data dictionary to store map names and times
    data = {}

    # Iterate over matches and populate data dictionary
    for match in matches:
        map_name = match[0]
        minutes = int(match[1] or 0)
        seconds = int(match[2] or 0) + int(match[3]) / 1000
        time_seconds = minutes * 60 + seconds
        data[map_name] = time_seconds

    # Create DataFrame from data dictionary
    df = pd.DataFrame(data, index=[0])
    return df

paths = getPlayerPaths()

In [123]:
getRecordData(playerPath=paths[0], minigame='Wettrennen')

'Islands :  1 min  12 s  024 ms Snow :  44 s  468 ms Cyberpunk :  1 min  17 s  441 ms Cherry Blossom Canyon :  1 min  19 s  553 ms Green Hills :  1 min  02 s  593 ms'

In [140]:
def getRecordsDataframe(minigame='Wettrennen'):
    outDf = pd.DataFrame()

    for i in paths:
        # print(i) # debug
        df = create_dataframe(getRecordData(playerPath=i, minigame=minigame))
        df.index = [i.replace('.txt', '')]

        outDf = pd.concat([outDf, df])

    return outDf

getRecordsDataframe(minigame='Wettrennen').sort_values(by='Blossom Canyon', ascending=True)

         Islands    Snow  Cyberpunk  Blossom Canyon  Green Hills
Fflopse   72.858  44.748     75.806          56.032       65.744
ymq_      72.102  44.878     77.846          79.157       66.612
lizsyy    72.603  44.964     80.763          79.201       65.912
Gobo9     72.024  44.468     77.441          79.553       62.593
Ex4cted   73.051  45.214     80.885          82.648       65.830

In [141]:
getRecordsDataframe(minigame='Blockh√ºpfer').sort_values(by='City', ascending=True)

           City
Fflopse  21.701
Ex4cted  22.086
lizsyy   23.475
Gobo9    24.624
ymq_     25.351